NEXT_PUBLIC_SUPABASE_URL=https://tvkrklspxwsiijcstdqj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_BrdDuQzp3_6L6_hDq4k3eQ_x3u3qhsC

#ANTHROPIC_API_KEY=your-anthropic-api-key

#MPESA_CONSUMER_KEY=
#MPESA_CONSUMER_SECRET=
#MPESA_SHORTCODE=
#MPESA_PASSKEY=
MPESA_CALLBACK_URL=http://localhost:3000/api/mpesa/callbac